$theme-colors: (
  primary: #976aff
);
tr {
	cursor: pointer;
}

#module_container {
	border-radius: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.5s;
}

::-webkit-scrollbar {
display: all;
background-color: none;
}

#scroll-icon {
	margin-left: auto;
	margin-right: auto;
	float: right;
}

body::-webkit-scrollbar {
  display: none;
}

#module_container::-webkit-scrollbar {
  width: 0.5em;
  height: 0.2em;
}
 
#module_container::-webkit-scrollbar-track {
  padding-left: 2px;
}

#module_header {
	transition: all 0.5s;
}


#module_container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
  transition: all 0.5s;
}

.menu-items {
	position: absolute;
	right: 45px;
	padding-left: 50px;
}

#dashboard {
	cursor: pointer;
}


#search-bar {
	width: 20% !important;
	color: none;
}

#search-bar .form-control {
	border-width: 0 0 2px 0;
	background-color: transparent;
}

.selectpicker {
	width: 100%;
	display: inline-block;
}


.activeStudentRow {
	background-color: #007bff !important;
	color: white;
}

#module-selected-form {
	max-height: 420px;
}

.fullStudentList {
	display: none;
}

/*color: #976aff;*/
